.layout-header {
    width: 100%;
    height: var(--navbar-height);
    padding-bottom: calc(var(--navbar-height) / 2);
    background-color: var(--onyx);

    .layout-header-content {
        width: var(--page-content-width);
        height: 100%;
        margin: auto;

        display: flex;
        
        justify-content: space-between;
        align-items: center;

        .layout-header-logo-container {
            display: flex;
            align-items: center;
            height: 100%;
            width: fit-content;
        }
    }

    .layout-header-contactinfo {
        display: flex;
        font-style: normal;
        color: var(--platinum);
    }
}
