.button {
    position: fixed;
    bottom: 50px;
    right: 30px;

    width: 35px;
    height: 35px;

    border: none;
    border-radius: 5px;
    color: white;
    background-color: var(--safety-orange-blaze-orange);

    transition: all 250ms ease-out;

    &.top {
        bottom: 0;
        transform: translateY(100%);
    }
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -25%) rotateZ(45deg);

        width: 5px;
        height: 5px;

        border: solid 2px white;
        border-bottom: none;
        border-right: none;
    }
}
