.layout-navbar {
    position: absolute;
    top: var(--header-height);
    left: 50%;
    transform: translate(-50%);
    z-index: 1;

    font-size: clamp(12px, 1.3vw, 16px);

    width: var(--page-content-width);
    height: var(--navbar-height);

    display: flex;
    justify-content: space-between;

    background-color: #fff;
    border-radius: 5px;
    filter: drop-shadow(0 0 5px #fff);

    &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 80%;
        background-color: #fff;

        z-index: -1;
        left: 50%;
        transform: translateX(-50%);

        transition: width 100ms;
    }

    .layout-navbar-pc {
        display: flex;
        align-items: center;
        width: 60%;
        justify-content: space-between;
        list-style: none;

        a {
            color: var(--eerie-black);
            font-weight: 500;
            text-decoration: none;
            transition: color 250ms;

            &:hover {
                color: var(--safety-orange-blaze-orange);
            }
        }
        .activeLink {
            transition: none;
            color: var(--safety-orange-blaze-orange);
        }
    }

    .layout-navbar-mobile {
        display: none;
        justify-content: center;
        align-items: center;

        flex: none;

        padding: 0;
        width: calc(var(--navbar-height) - 2.5em);
        height: calc(var(--navbar-height) - 2.5em);
        margin: auto 1.5em;

        background-color: var(--onyx);
    }

    .layout-navbar-search-container {
        position: relative;

        input {
            margin: 15px 20px;
            border: solid var(--platinum) 1px;
            border-radius: 5px;
            min-height: 46px;
            text-indent: 15px;

            &::placeholder {
                color: var(--eerie-black);
                font-size: medium;
            }
        }
        button {
            position: absolute;

            right: 35px;
            top: 50%;
            transform: translateY(-50%);
            transform-origin: center center;
            margin: 0;

            border: none;
            background-color: transparent;
            cursor: pointer;

            &::before {
                margin: 0;
                font-size: 14px;
            }
        }
    }

    &.sticky {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);

        z-index: 100;

        &::before {
            width: 100vw;
        }
    }
}

.layout-mobile-navigation {
    position: fixed;

    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 2.5em;
    font-size: 1.5em;

    padding: 0;
    text-align: center;

    z-index: 100;

    margin: 0;

    background-color: var(--onyx);
    opacity: 0.97;

    list-style: none;

    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    transform: translateX(-100%);
    transition: transform 400ms;

    &.active {
        transform: translateX(0);
    }

    li {
        width: fit-content;
        margin: 0 auto;

        a {
            text-decoration: none;
            color: white;
        }
    }

    button {
        position: absolute;
        top: 2em;
        left: 2em;

        width: 5em;
        height: 5em;

        background-color: transparent;
        border: none;
        margin: 0;
        padding: 0;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

@media screen and (max-width: 900px) {
    .layout-navbar {
        .layout-navbar-pc {
            display: none;
        }
        .layout-navbar-mobile {
            display: flex;
        }
    }

    .layout-mobile-navigation {
        display: flex;
    }
}
